body {
    background-color: #757a79;
    margin: 0;
}

header, .intro, footer {
    background-color: #1F2937;
}

/* Header */
nav {
    display: flex;
    justify-content: space-around;
}

nav h1 {
    padding: 2rem;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav h1 {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.header-link li {
    padding: 2rem;
    list-style: none;
}

.intro-text, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Section 1 */
.intro {
    /* background-color: #1F2937; */
    padding: 150px 220px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

h2 {
    margin: 0;
}


.intro-text h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

button {
    color: white;
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 12pt;
    font-weight: bold;
    /* border-color: #3882F6; */
    /* border: 0; */
    border: none;
}

.intro-img {
    background-color: rgb(137, 137, 137);
    width: 1000px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img span {
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Section 2 */
.info-1 {
    padding: 40px;
    padding-bottom: 80px;
    background-color: white;
    text-align: center;
}

.info-1 h2, .square + p {
    font-family: 'Roboto', sans-serif;
}

.info-1 h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.info-1-container-square {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .square:nth-of-type(1n) {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.square + p{
    margin: 0;
    width: 150px;
}

/* Section 3 */

.info-2 {
    background-color: #E5E7EB;
    padding: 0px 350px;
    height: 275px;
    padding-top: 8em;
    padding-bottom: 1em;
}

.info-2-quote, .info-2 span {
    font-family: 'Roboto', sans-serif;
}

.info-2-quote {
    margin: 0;
    text-align: left;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.info-2 span {
    display: block;
    text-align: right;
    font-size: 16pt;
    font-weight: 800;
}

/* Section 4 */

.info-3 {
    background-color: white;
    padding: 7em 14em;
}

.info-3 h3, .info-3-p {
    margin: 0;
    color: white;
}

.info-3-container {
    background-color: #3882F6;
    padding: 2em 1em;
    height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;

}

.info-3 h3, .info-3-p {
    font-family: 'Roboto', sans-serif;
}

.info-3 h3 {
    font-size: 18pt;
}

.info-3-p {
    font-size: 12pt;
    color: #dedede;
}

.info-3-container button{
    border: 2px solid white;
    color: white;
}

/* Footer */
footer {
    height: 12ch;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: white;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}




