body {
    margin: 0;
    background-color: #559FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, span {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #1A5DC3;
    margin: 0.5em;
    padding: 0.5em;
    /* border-top: 2px solid black; */
    border-bottom: 1px solid lightgray;
    font-size: 0.85em;
    font-weight: 600;
}

.plan-level {
    /* margin: 0 1em 1.5em; */
    padding: 0 0 1.5em;
    width: 95%;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;

}

.main-container {
    background-color: white;
    margin: 9em;
    width: 55em;
    height: 60ch;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

@media (max-width: 768px)  {
    .main-container {
        flex-wrap: wrap;
        height: 200ch;
    }

    .card {
        min-width: 300px;
        flex-basis: 80%;
    }
}

@media (max-width: 870px)  {
    .main-container {
        flex-wrap: wrap;
        height: 200ch;
        width: 100ch;
    }
    
    .card {
        min-width: 300px;
        flex-basis: 80%;
    }
}

.card {
    /* padding: 2em; */
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card-img-container {
    margin: 1rem;
}

.card img {
    margin: 0;
    width: 125px;
    height: 125px;
}

.price {
    /* margin: 2rem; */
    width: 10em;
    padding: 0.7em;
    font-size: 3ch;
    font-weight: 800;
    color: #0459e7;
}

.button {
    background-color: white;
    padding: 1em;
    width: 8em;
    border: 2px solid #b5cbe1;
    border-radius: 8px;
    color: #0459e7;
}

.button2 {
    color: white;
    background-color: #3fa0ff;
    border: 2px solid #3691ec;
}

/* .plan1 img{
    background-color: #01BFA1;
}

.plan2 img{
    background-color: #269CBA;
}

.plan3 img{
    background-color: #F6761B;
} */

